@media(min-width: 1200px) {
    :not(.--scrolled-body):root {
        --header-height: 140px;
    }

    :not(.--scrolled-body):root header .heading .logo {
        --logo-font-size: 24px;
    }
}

@media(min-width: 2000px) {
    body {
        max-width: 1500px;
    }
    main {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,calc(-50% + var(--header-height) + 20px));
        margin: 0;
        width: 1500px;
        flex-wrap: wrap;
        z-index: -1;
    }

    .card {
        flex: 1;
        min-width: 300px;
    }
}

@media (max-width: 500px) {
    .snackbar {
        border-radius: 0;
    }
}