RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 304 /method/ex/api_error_doc.php
ErrorDocument 400 /method/ex/api_error_500.php
ErrorDocument 401 /method/ex/api_error_doc.php
ErrorDocument 403 /method/ex/api_error_doc.php
ErrorDocument 404 /method/ex/api_error_doc.php
ErrorDocument 406 /method/ex/api_error_500.php
ErrorDocument 500 /method/ex/api_error_500.php
ErrorDocument 502 /method/ex/api_error_500.php