RewriteEngine on
RewriteRule ^method\/(.*) worker.php?method_name_context=$1 [QSA]

ErrorDocument 304 /api/ex/api_error_doc.php
ErrorDocument 400 /api/ex/api_error_500.php
ErrorDocument 401 /api/ex/api_error_doc.php
ErrorDocument 403 /api/ex/api_error_doc.php
ErrorDocument 404 /api/ex/api_error_doc.php
ErrorDocument 406 /api/ex/api_error_500.php
ErrorDocument 500 /api/ex/api_error_500.php
ErrorDocument 502 /api/ex/api_error_500.php